# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.log

# Django Migrations
*/migrations/

# Virtual environment
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static & media files
/staticfiles/
/media/

# Git itself
.git/

# Ignore compiled files
*.pyc
*.pyo
