#chatbot-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 420px;
  height: 620px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  z-index: 9999;
  transition: all 0.3s ease;
}

#chatbot-header {
  background: #FF4500;
  color: #fff;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}

#chatbot-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  scroll-behavior: smooth;
}

#chatbot-content p {
  padding: 14px 18px;
  border-radius: 16px;
  margin: 0;
  line-height: 1.5;
  font-size: 15px;
  max-width: 85%;
  word-wrap: break-word;
  transition: all 0.3s ease;
}

.bot-message {
  align-self: flex-start;
  background: #f1f1f1;
  color: #333;
}

.user-message {
  align-self: flex-end;
  background: #0d6efd;
  color: white;
}

.chatbot-option {
  display: inline-block;
  padding: 14px 24px;
  border: none;
  border-radius: 22px;
  background: linear-gradient(145deg, #0d6efd, #0a58ca);
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-top: 6px;
  animation: fadeIn 0.4s ease;
  box-shadow: 0 4px 12px rgba(13, 110, 253, 0.3);
  background-color: red;
  font-weight: bold;
}

.chatbot-option:hover {
  background: linear-gradient(145deg, #084298, #0a58ca);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #FF4500;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#chatbot-button img {
  width: 30px;
  height: 30px;
}

#chatbot-content::-webkit-scrollbar {
  width: 6px;
}

#chatbot-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}
